
@import url('https://fonts.googleapis.com/css?family=Karla');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

$app-color         : #410DDC;
$app-white         : #FFF;
$app-green         : #5ABA7A;
$app-border        : #9F8EEC;
$app-nice-font     : "Inconsolata", Arial, sans-serif;

@mixin center() {
  float  : none !important;
  margin : 0 auto;
}

input:focus::-webkit-input-placeholder { color:transparent; }

input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */
html {
  height : 100%;
  width  : 100%;

  
}

body {
  overflow-x            : hidden;
    /* Override bootstrap-body properties */
  height                : 100%;
  margin                : 0;

  background-attachment : fixed;
  background-repeat     : no-repeat;
  background-size       : cover;
  font-family           : "Karla", Arial, sans-serif;
  color                 : $app-color;
}

//REMINDER  768px 992px 1200px
.container-fluid {
  width      : 50vw;
  min-width  : 300px;
  margin-top : 15%;

  //  MQUERIES FOR FLEX DISPLAY
  @media screen and (max-width:1200px) {
    width            : 60vw;
    margin-top       : calc(15% + 2vw);

    background-color : red;
  }

  @media screen and (max-width:992px) {
    width            : 70vw;
    margin-top       : calc(15% + 5vw);

    background-color : blue;
  }

  @media screen and (max-width:768px) {
    width            : 80vw;
    margin-top       : calc(20% + 5vw);

    background-color : green;
  }
}

.center-block {
  /* Override bootstrap float properties for centered logo*/
  @include center;
}

a {
  color : $app-color;
}

.intro h1{
  font-family    : $app-nice-font;
  font-size      : 5em;
  text-transform : uppercase;
}

li{
  position         : relative;
  display          : inline-block;
  float            : left;

  margin           : 2px;
  padding          : 12px;

  cursor           : pointer;
  background-color : rgba(255, 255, 255, 0.8);
  font-family      : $app-nice-font;
  font-size        : 1.1em;
  font-weight      : bold;
  color            : $app-color;
  border           : 2px solid $app-color;
  border-radius    : 6px;
  box-shadow       : inset 0 -4px 0 0px $app-border;
}

.app {
  padding-top : calc(20px + 2vw);
}

/* To-Do cliked done style */
.done{
  padding-right       : 50px;
  background-color    : $app-green;
  background-image    : url(../img/done.png);
  background-position : calc(100% - 10%);
  background-repeat   : no-repeat;
  color               : #FFF;
  text-decoration     : line-through;
  border              : 2px solid #349351;
  box-shadow          : inset 0 -4px 0 0px $app-green;
}

#taskList{
  width       : 90%;
  padding-top : 10%;
}

#taskInput{
  height      : 40px;
  width       : 100%;

  font-family : "Inconsolata", Arial, sans-serif;
  font-size   : 1.2em;
  color       : $app-color;
  border      : 2px solid $app-color;
  box-shadow  : inset 0 -4px 0 0px $app-border;

  transition  : all .15s ease-in-out;

  &:focus {
    height         : 50px;

    font-size      : 3em;
    font-weight    : 900;
    text-transform : uppercase;

    transition     : all .15s ease-in-out;
  }
}

.eraser{
  position : absolute;
  top      : 20px;
  right    : calc(10%);
  height   : calc(15px + 2vw);
  width    : calc(15px + 2vw);
}

.info-wrap {
  position                : fixed;
  display                 : -webkit-flex;
  display                 : flex;
  top                     : 0;
  left                    : 0;
  z-index                 : 1;

  background-color : rgba(255, 255, 255, 0.8);

  height                  : 100%;
  width                   : 100%;


  -webkit-align-items     : center;
  align-items             : center;
  -webkit-justify-content : center;
  justify-content         : center;
}

.info {
  width         : 90%;
  max-width     : 500px;
  padding       : 2.5em 2em;
  font-size: 10pt;
  box-shadow: 0 12px 0 -6px rgba(0, 0, 0, 0.2);
  background    : $app-color;
  color: $app-white;
  border-radius : 6px;
}

.info-close {
  margin         : 1em 0 0 0;
  padding        : 1em 2em;

  background     : none;
  font-weight    : bold;
  color          : $app-border;
  letter-spacing : 1px;
  text-transform : uppercase;
  border      : 2px solid $app-border;
  box-shadow  : inset 0 -4px 0 0px $app-border;
}