body {
  color: red;
  background-color: red;
  height: 100px;
  font-weight: 220px;
  display: none;
  direction: rtl;
  border-style: none;
  padding: 10px;
  margin: 10px;
  text-align: left;
  text-decoration: none;
  direction: left;
  border-style: dashed;
  width: 10000px;
  visibility: 0;
  font-size: 10px;
  direction: lefft;
  page-break-after: left; }
