@import url("https : //fonts.googleapis.com/css?family=Karla");
@import url("https : //fonts.googleapis.com/css?family=Inconsolata");
html {
  height: 100%;
  width: 100%; }

body {
  overflow-x: hidden;
  /* Override bootstrap-body properties */
  height: 100%;
  margin: 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Karla", Arial, sans-serif;
  color: #1977cc; }

.center-block {
  /* Override bootstrap float properties for centered logo*/
  float: none !important;
  padding: 0; }

a {
  color: #1977cc; }

.intro {
  position: relative;
  top: 5vw; }

.intro h1 {
  font-family: "Inconsolata", Arial, sans-serif;
  font-size: 5em;
  text-transform: uppercase; }

li {
  position: relative;
  display: inline-block;
  float: left;
  margin: 2px;
  padding: 12px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.8);
  font-family: "Inconsolata", Arial, sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  color: #1977cc;
  border: 2px solid #1977cc;
  border-radius: 6px;
  box-shadow: inset 0 -4px 0 0px #1977cc; }

/* To-Do finished style */
.done {
  padding-right: 50px;
  background-color: #5ABA7A;
  background-image: url(../img/done.png);
  background-position: calc(100% - 10%);
  background-repeat: no-repeat;
  color: #FFF;
  text-decoration: line-through;
  border: 2px solid #349351;
  box-shadow: inset 0 -4px 0 0px #5ABA7A; }

#taskList {
  width: 90%;
  padding-top: 10%; }

#taskInput {
  height: 50px;
  width: 100%;
  font-family: "Inconsolata", Arial, sans-serif;
  font-size: 20px;
  color: #1977cc;
  border: 2px solid #1977cc;
  box-shadow: inset 0 -4px 0 0px #1977cc;
  transition: all .15s ease-in-out; }
  #taskInput :active {
    height: 80px;
    transition: all .15s ease-in-out; }
