/* GET DONE! APP SPECIFIC CSS */
/* Google Fonts Import */
@import url("https://fonts.googleapis.com/css?family=Karla");
@import url("https://fonts.googleapis.com/css?family=Inconsolata");
/* SCSS VARIABLES */
/* Placeholder style for all browser */
input:focus::-webkit-input-placeholder {
  color: transparent; }

input:focus:-moz-placeholder {
  color: transparent; }

/* FF 4-18 */
input:focus::-moz-placeholder {
  color: transparent; }

/* FF 19+ */
input:focus:-ms-input-placeholder {
  color: transparent; }

/* IE 10+ */
html {
  height: 100%;
  width: 100%; }

/* Selection style */
::-moz-selection {
  color: #9F8EEC;
  background: #410DDC; }

::selection {
  color: #9F8EEC;
  background: #410DDC; }

body {
  overflow-x: hidden;
  /* Override bootstrap-body properties */
  height: 100%;
  margin: 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Karla", Arial, sans-serif;
  color: #410DDC; }

.container-fluid {
  width: 50vw;
  min-width: 300px;
  margin-top: 15%; }
  @media screen and (max-width: 1200px) {
    .container-fluid {
      width: 60vw;
      margin-top: calc(15% + 2vw); } }
  @media screen and (max-width: 992px) {
    .container-fluid {
      width: 70vw;
      margin-top: calc(15% + 5vw); } }
  @media screen and (max-width: 768px) {
    .container-fluid {
      width: 80vw;
      margin-top: calc(20% + 5vw); } }

.center-block {
  /* Override bootstrap float properties for centered logo*/
  float: none !important;
  margin: 0 auto; }

a {
  color: #410DDC; }

/* APP li Style */
.app li {
  position: relative;
  display: inline-block;
  float: left;
  margin: 2px;
  padding: 12px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.8);
  font-family: "Inconsolata", Arial, sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  color: #410DDC;
  text-transform: capitalize;
  border: 2px solid #410DDC;
  border-radius: 6px;
  box-shadow: inset 0 -4px 0 0px #9F8EEC; }

.app {
  padding-top: calc(20px + 2vw); }

/* To-Do cliked done style */
.app .done {
  background-color: #410DDC;
  font-style: italic;
  color: #FFF;
  border: 2px solid #410DDC;
  box-shadow: inset 0 -4px 0 0px #9F8EEC; }

#taskList {
  width: 90%;
  padding-top: 10%; }

#taskInput {
  height: 40px;
  width: 100%;
  font-family: "Inconsolata", Arial, sans-serif;
  font-size: 1.2em;
  color: #410DDC;
  border: 2px solid #410DDC;
  box-shadow: inset 0 -4px 0 0px #9F8EEC;
  transition: all .15s ease-in-out; }
  #taskInput:focus {
    height: 50px;
    font-size: 3em;
    font-weight: 900;
    text-transform: uppercase;
    transition: all .15s ease-in-out; }

/* Icon SVG for Reboot Get Done! Position Top Right */
.eraser {
  position: absolute;
  top: 20px;
  right: calc(10%);
  height: calc(15px + 2vw);
  min-height: 30px;
  max-height: 40px;
  width: calc(15px + 2vw); }

/* On-Boarding and welcome style menu */
.info-wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999999;
  font-family: "Avenir", "Helvetica Neue", Arial, sans-serif; }

.info {
  width: 90%;
  max-width: 500px;
  padding: 2.5em 2em;
  background: #410DDC;
  color: #FFF;
  border-radius: 6px;
  box-shadow: 0 12px 0 -6px rgba(0, 0, 0, 0.2); }

.info-close {
  margin: 0 auto;
  padding: 1em 2em;
  background: none;
  font-weight: bold;
  color: #9F8EEC;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 2px solid #9F8EEC;
  box-shadow: inset 0 -4px 0 0px #9F8EEC; }
  .info-close:hover {
    color: #FFF;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 2px solid #FFF;
    box-shadow: inset 0 -4px 0 0px #FFF; }

.strikeout::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  margin-top: calc(0.3em / 2 * -1);
  border-bottom: 0.3em solid rgba(0, 0, 0, 0.9); }

.topped {
  margin-top: 10%; }
